# Entorno virtual
venv/
env/
ENV/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de distribución
dist/
build/
*.egg-info/

# Archivos de IDE
.vscode/
.idea/

# Archivos de entorno
.env
.env.local

# Archivos de sistema
.DS_Store
Thumbs.db 